{
	"presets": [
		"next/babel"
	],
	"plugins": [
		["module-resolver", {
			"cwd": "babelrc",
			"root": ["./"],
			"alias": {
        "@": "./app"
			}
    }],
		["styled-components",
			{
				"ssr": true,
				"displayName": true,
				"preprocess": false
			}
		]
	]
}
