header
	padding: 15px
	border: 1px solid white
	margin: 0 0 10px
	background: $blocks

	h1
		text-align: center
		margin: 0 auto 25px

	nav a
		&.active
			font-weight: 700

		&:not(:last-child)
			margin-right: 15px